.image-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .image {
    max-width: 30%; /* Reduce image size */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }
  