.instruction-box {
    background-color: #ffcb05;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    
    justify-content: space-between;
    width: 100%;
    max-width: 98%;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* .instruction-content {
    
  }
   */
  .instruction-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #1e4c88;
  }
  
  .instruction-content p {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .instruction-content ol {
    font-size: 18px;
    padding-left: 20px;
    margin-bottom: 15px;
  }
  
  .next-button {
    background-color: #1e4c88;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .next-button:hover {
    background-color: #3e7bcc;
  }
  