.overview {
    text-align: center;
    margin-top: 50px;
  }
  
  .overview__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .overview__subtitle {
    font-size: 1.8rem;
    color: #666;
    margin-bottom: 1rem;
  }
  
  .overview__brand {
    color: #FFA500;
  }
  
  .overview__text {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #333;
  }
  
  .overview__text span {
    font-weight: bold;
  }
  
  .overview__text br {
    display: block;
    margin: 2rem 0;
  }
  