.project-preview-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out; /* Fade in animation */
  }
  
 

.project-preview-box {
  background-color: #f5f5f5; /* Light gray background */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  max-width: 90%; /* Adjusted maximum width */
  max-height: 90%; /* Adjusted maximum height */
  overflow: auto; /* Hide overflow to prevent scrolling */
  position: absolute;
  animation: slideIn 0.5s ease-in-out; /* Slide in animation */
}
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #333; /* Dark gray color */
    transition: color 0.3s ease; /* Smooth color transition on hover */
  }
  
  .close-btn:hover {
    color: #000; /* Black color on hover */
  }
  
  .preview-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333; /* Dark gray color */
  }
  .image-container {
    display: flex;
    justify-content: space-around; /* Center the images */
    margin-bottom: 20px;
  }
  
  .preview-image {
    max-width: 45%; /* Adjusted image width */
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease; /* Smooth scale transition on hover */
  }
  
  .preview-image:hover {
    transform: scale(1.05); /* Slightly enlarge image on hover */
  }
  
  .start-coding-btn {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #ffa500; /* Orange color */
    color: #fff; /* White color */
    border: none;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth background color transition on hover */
  }
  
  .start-coding-btn:hover {
    background-color: #ff8c00; /* Darker orange color on hover */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-30px); /* Adjusted initial position */
    }
    to {
      transform: translateY(0);
    }
  }
  